[Unit]
Description=Wisdom Server

[Service]
User=wisdom
Group=wisdom

Type=exec
Restart=on-failure

ExecStart=/media/data/wisdom
WorkingDirectory=/media/data/wisdom

[Install]
WantedBy=default.target
