@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
html,
body {
  margin: 0;
  text-align: center;
  padding: 0;
  size: 100%;
  height: 100%;
  color: floralwhite;
}

#main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  margin-left: 8%;
  margin-right: 8%;
}

div {
  margin-left: 5%;
  margin-right: 5%;
}

.wisdom {
  font-family: "Amiri", serif;
  display: flex;
  font-size: 4.2em;
  text-align: center;
  text-decoration: none;
}

a,
p {
  color: floralwhite;
  text-align: center;
  text-decoration: none;
}

a:hover {
  filter: drop-shadow(0 0 0.5rem floralwhite);
}
body {
  background-color: #080808;
}
footer * {
  overflow: visible;
  color: #080808;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}
footer {
  font-family: 'Amiri', serif;
  background-color: floralwhite;
  position: sticky;
  overflow: visible;
  left: 0;
  display: flex;
  height: 10%;
  bottom: 0;
  width: 100%;
  font-size: 1.6em;
  justify-content: center;
  align-items: center;
}

footer p {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1.wisdom {
  font-size: 6.4em;
}

  #about a{
  background-color: floralwhite;
  color: #080808;
}

#about {
  font-family: 'Amiri', serif;
  font-size: 1.6em;
}

#about h2 {
  font-size: 2.4em;
}
