<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="all"/>
    <title>Wisdom</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body id="body">
    <div id="main">
  </head />
      <a class="wisdom" href="">{{ wisdom }}</a>
      <br />
    </div>
    <footer>
        <p>
          <a href=".">home</a><a href="https://zoe.kittycat.homes">zoe.kittycat.homes</a>
        </p>
      </footer>
  </body>
</html>
