<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="all"/>
    <title>Wisdom</title>
    <meta charset="utf-8" name="viewport" />
  </head>
  <body id="body">
    <div class="main">
  </head />
      <a href="">{{ wisdom }}</a>
      <a id="home_link" href=".">home</a>
      <br />
    </div>
  </body>
</html>
